<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>columna 1</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>columna 2</h4>
            <ul class="list-unstyled">
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>columna 3</h4>
            <ul class="list-unstyled">
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li><a href="#">xxxxxxxxx</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
              <ul class="social-network social-circle">
              <li class="icoFacebook"><a href="https://www.facebook.com/mario.lopezelices/" class="icoFacebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.linkedin.com/in/mariolopezelices/" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2021 - NextGame.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
