<div class="products" ng-app="app" ng-controller="AppCtrl">

  <div class="tables">
    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable">
      <thead><tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Desarrollador</th>
        <th>Editor</th>
        <th>Genero</th>
        <th>Jugadores</th>
        <th>Duracion</th>
        <th>Idioma</th>
        <th>Lanzamiento</th>
        <th>Opciones</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let juego of juegos">
          <td>{{juego._id}}</td>
          <td>{{juego.nombre}}</td>
          <td>{{juego.desarrollador}}</td>
          <td>{{juego.editor}}</td>
          <td>{{juego.genero}}</td>
          <td>{{juego.jugadores}}</td>
          <td>{{juego.duracion}}</td>
          <td>{{juego.idioma}}</td>
          <td>{{juego.lanzamiento}}</td>
          <td>
            <button title="borrar"(click)="borrarJuego(juego._id)">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button title="editar" (click)="editarJuego(juego)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <form #juegoForm="ngForm" (ngSubmit)="(juegoForm)">
      <table class="table  table-striped table-bordered table-hover table-checkable order-column dataTable">
        <thead><tr>
          <th>Nombre</th>
          <th>Desarrollador</th>
          <th>Editor</th>
          <th>Genero</th>
          <th>Jugadores</th>
          <th>Duracion</th>
          <th>Idioma</th>
          <th>Lanzamiento</th>
        </tr></thead>
        <tbody>
          <input type="hidden"
          name="_id" #_id="ngModel"
          [(ngModel)]="juegosService.juegoSeleccionado._id">
          <tr>
            <td>
              <input class="form-control"
              type="text" name="nombre"
              #nombre="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.nombre"
              placeholder="Nombre del Juego">
            </td>
            <td>
              <input class="form-control"
              type="text" name="desarrollador"
              #desarrollador="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.desarrollador"
              placeholder="desarrollador del juego">
            </td>
            <td>
              <input class="form-control"
              type="text" name="editor"
              #editor="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.editor"
              placeholder="Editor del juego">
            </td>
            <td>
              <input class="form-control"
              type="text" name="genero"
              #genero="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.genero"
              placeholder="Genero del juego">
            </td>
            <td>
              <input class="form-control"
              type="text" name="jugadores"
              #jugadores="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.jugadores"
              placeholder="Jugadores">
            </td>
            <td>
              <input class="form-control"
              type="text" name="duracion"
              #duracion="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.duracion"
              placeholder="Duracion del juego">
            </td>
            <td>
              <input class="form-control"
              type="text" name="idioma"
              #idioma="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.idioma"
              placeholder="Idioma">
            </td>
            <td>
              <input class="form-control"
              type="text" name="lanzamiento"
              #lanzamiento="ngModel"
              [(ngModel)]="juegosService.juegoSeleccionado.lanzamiento"
              placeholder="Lanzamiento del juego">
            </td>
            <td>
              <div class="btn-group" role="group">
                <button class="remove-item-button" (click)="agregarJuego(juegoForm)" >Guardar</button>
                <button class="remove-item-button" (click)="limpiarForm(juegoForm)">Limpiar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>
