.products{
  .name{
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
  }
}

.table{
  background-color: #ccc;
  margin-bottom: 25px;
  margin-right: 20px;
  font-size: small;
}

.fas fa-trash-alt{
  margin-left: 10px;
}

button{
  font-size: 10px;
}
