table{
  background-color: #ccc;
  margin-bottom: 25px;
  font-size: small;
  max-width: max-content;
}

td, tr{
  margin: 0;
  padding: 5px;
}

.fas fa-trash-alt{
  margin-left: 10px;
}

button{
  font-size: 10px;
}

.upload {
  cursor: pointer;
}
