<a [routerLink]="['/usuario/cuenta/perfil']" class="nav-link active mt-auto"><i class="far fa-user-circle"></i> Perfil</a>
<a [routerLink]="['/usuario/cuenta/perfil']" class="nav-link"><i class="far fa-bell"></i> Mis Opiniones</a>
<a [routerLink]="['/usuario/cuenta/seguridad']" class="nav-link mb-auto"><i class="fas fa-cogs"></i> Seguridad</a>
<a *ngIf="rango=='moderador' || rango=='admin'" [routerLink]="['/usuario/cuenta/admin']" class="nav-link mb-auto"><i class="fas fa-cogs"></i> Administración</a>
