body,html{
  height:100%;
}

.container{
  padding: 0;
}

h2{
  font-weight: bolder;
  color: white;
}

form{
  width:550px;
}

form *{
  font-weight: bold;
}

form label{
  font-size: 18px;
  color: white;
}

form .form-control,form .form-control:focus{
  border-color:transparent;
  border-bottom-color: #bebcc1;
  box-shadow:none;
}

form .btn{
  border-radius: 0px;
  border-color: transparent;
}

.btn.btn-default{
  background: #ebebeb;
  color:#8f9096;
}

.btn.btn-primary{
  background: #6c63ff;
  color:white;
}



//Menu Lateral---------------
.sidebar {
  height: 100% !important;
  bottom: 0;
  font-size: 1.3rem;
  background: #6c63ff;
}

@media screen and (max-width:940px){
  .sidebar{
      font-size: 1rem;
      padding-left :0px;
  }
}

.sidebar .nav-link{
  margin-bottom: 20px;
  color:#dddce5;
}
.nav-link.active{
  color:#fff;
}
.main > .row{
  height: 100%;
}


//Contenido
.content {
  height: 100% !important;
  bottom: 0;
  font-size: 1.3rem;
}

@media screen and (max-width:768px){
  .content{
      width: 100%;
      padding-top: 200px;
  }

  form{
      width: 100%;
      margin:auto;
  }

}
