/*
Para importarlas entramos en font google y elegimos las fuentes que deseemos despues selecionamos y copiamos el texto de import y lo pegamos aquii
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


html {
  background: #16222A;
  font-family: 'Calibri';
  height: 100%;
  //Evita que el gradainte se repita y ocupe toda la pantalla
}

hr{
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

body{
  background-attachment:fixed;
  background: -webkit-linear-gradient(59deg, #16222A,#e50914 ),no-repeat;
  background: linear-gradient(59deg, #16222A,#e50914 ),no-repeat;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



