.container{
  margin-top: 5%;
  margin-bottom: 5%;
}

p{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}


//Menu Lateral---------------
.sidebar {
  height: 100% !important;
  bottom: 0;
  font-size: 1rem;
  background: black;
  float: left;
}

@media screen and (max-width:940px){
  .sidebar{
    height: 100% !important;
    font-size: 1rem;
    padding-left :0px;
  }
}

.sidebar .nav-link{
  margin-bottom: 20px;
  color:#dddce5;
}
.nav-link.active{
  color:#fff;
}


