<section class="main-container">

  <h1 id="myList">Mi lista</h1>
  <div class="box">
    <a *ngFor="let juego of juegosLista" [routerLink]="['/juegos/juego',juego.id]"><img [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
  </div>

  <h1 id="home">Popular</h1>
  <div class="box">
    <a href="#" *ngFor="let juego of juegos" [routerLink]="['/juegos/juego', juego.id]" ><img class="img-thumbnail" [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
  </div>

  <h1 id="tvShows">Mas jugados</h1>
  <div class="box">
    <a href="" *ngFor="let juego of juegos" [routerLink]="['/juegos/juego',juego.id]"><img class="img-thumbnail" [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
  </div>

  <h1 id="movies">Generos</h1>
  <div class="box">
    <a href="" *ngFor="let juego of juegos" [routerLink]="['/juegos/juego', juego.id]"><img class="img-thumbnail" [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
  </div>

  <h1 id="originals">Estrategia</h1>
  <div class="box">
    <a href="" *ngFor="let juego of juegos" [routerLink]="['/juegos/juego', juego.id]"><img class="img-thumbnail" [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
  </div>

</section>

