<div class="container">
  <div class="row">
      <div class="col-md-5">
          <div class="project-info-box mt-0">
              <h5>Detalles</h5>
              <p class="mb-0">Descripcion del juego. aaaaaaaaaaaaaaaaaaaaaaaaaaaa. aaaaaaaaaaaaaaaaaaaaaaaaaaaa. aaaaaaaaaaaaaaaaaaa.</p>
          </div><!-- / project-info-box -->

          <div class="project-info-box">
              <p><b>Juego:</b> CUPCAKE CO</p>
              <p><b>Editor:</b> riot</p>
              <p><b>Desarollador:</b> riot</p>
              <p><b>Jugadores:</b> 5</p>
              <p><b>Duracion:</b>Indefinido</p>
              <p><b>Idioma:</b>Español</p>
              <p class="mb-0"><b>Precio:</b> 50€</p>
          </div><!-- / project-info-box -->

      </div><!-- / column -->

      <div class="col-md-7">
          <!--<img class="rounded"  [src]= "juego.imagePath" [alt]= "juego.nombre">-->
          <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image" class="rounded">
          <div class="project-info-box">
              <p><b>Categories:</b> Estrategia</p>
          </div><!-- / project-info-box -->
      </div><!-- / column -->
  </div>
</div>
