<div class="container">
  <div class="row">
      <div class="col-md-5">
          <div class="project-info-box mt-0">
              <h5>Detalles</h5>
              <p class="mb-0">Descripcion del juego. Añadir atributo descripcion.</p>
          </div><!-- / project-info-box -->

          <div class="project-info-box">
              <p><b>Juego:</b> {{juego.nombre}}</p>
              <p><b>Editor:</b> {{juego.editor}}</p>
              <p><b>Desarollador:</b> {{juego.desarrollador}}</p>
              <p><b>Jugadores:</b> {{juego.jugadores}}</p>
              <p><b>Duracion:</b>{{juego.duracion}}</p>
              <p><b>Idioma:</b>{{juego.idioma}}</p>
              <p class="mb-0"><b>Precio:</b> 50€</p>
          </div><!-- / project-info-box -->

      </div><!-- / column -->

      <div class="col-md-7">
          <!--<img class="rounded"  [src]= "juego.imagePath" [alt]= "juego.nombre">-->
          <img [src]="juego.imagePath" alt="project-image" class="rounded">
          <div class="project-info-box">
              <p><b>Categoria:</b> {{juego.genero}}</p>
          </div><!-- / project-info-box -->
      </div><!-- / column -->
  </div>
</div>
