

<div class="products" ng-app="app" ng-controller="AppCtrl">
  <table class="table-responsive table-striped table-bordered table-hover table-checkable order-column dataTable">
    <thead><tr>
      <th>Imagen</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Desarrollador</th>
      <th>Editor</th>
      <th>Genero</th>
      <th>Jugadores</th>
      <th>Duracion</th>
      <th>Idioma</th>
      <th>Lanzamiento</th>
      <th>Opciones</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let juego of juegos">
        <td class="location" id="home">
          <div class= "juego-image" >
            <a><img class="box" style="height: 150px"  [src]= "juego.imagePath" [alt]= "juego.nombre"></a>
          </div>
        </td>
        <td style="max-width: 200px;">{{juego.id}}</td>
        <td style="max-width: 200px;">{{juego.nombre}}</td>
        <td>{{juego.desarrollador}}</td>
        <td>{{juego.editor}}</td>
        <td>{{juego.genero}}</td>
        <td>{{juego.jugadores}}</td>
        <td>{{juego.duracion}}</td>
        <td>{{juego.idioma}}</td>
        <td>{{juego.lanzamiento}}</td>
        <td style="max-width: 80px;">
          <a [routerLink]="['/usuario/cuenta/admin']" type="button" title="Borrar" (click)="borrarJuego(juego.id)"><i class="fas fa-trash-alt"></i>Eliminar</a>
          <a [routerLink]="['/usuario/cuenta/admin/edit', juego.id]" ><i class="fas fa-edit"></i>Editar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <form [formGroup]= "form" (submit)="agregarJuego()">
    <table class="table-responsive table-striped table-bordered table-hover table-checkable order-column dataTable">
      <thead>
        <th *ngIf="mode!='edit'" colspan="5">MODO CREADOR DE JUEGOS</th>
        <th *ngIf="mode=='edit'" colspan="5"><a style="color: yellow; font-weight: bold;" type="button" [routerLink]="['/usuario/cuenta/admin']">MODO EDICION</a></th>
      </thead>
      <tr>
        <th>
          <button mat-stroked-button type="button"(click)="filepicker.click()"> Imagen</button>
        </th>
        <th>Nombre</th>
        <th>Desarrollador</th>
        <th>Editor</th>
        <th>Genero</th>
      </tr>
      <tbody>
        <!--Fila de la imagen-->
        <tr>
          <td rowspan="5">
            <input type="file" #filepicker (change) = "PickedImage($event)">
            <div class= "juego-image" style="height: 150px; width:150px" >
              <a><img class="box"  *ngIf = "Pickedimage !== '' && Pickedimage"  [src]= "Pickedimage" [alt]= "form.value.nombre"></a>
            </div>
          </td>
          <!--Datos del juego-->
          <td>
            <input type="text"
            formControlName = "nombre">
          </td>
          <td>
            <input type="text"
            formControlName = "desarrollador">
          </td>
          <td>
            <input type="text"
            formControlName = "editor">
          </td>
          <td>
            <input type="text"
            formControlName = "genero">
          </td>
        </tr>

        <tr>
          <th>Jugadores</th>
          <th>Duracion</th>
          <th>Idioma</th>
          <th>Lanzamiento</th>
        </tr>

        <tr>
          <td>
            <input type="text"
            formControlName = "jugadores">
          </td>
          <td>
            <input type="text"
            formControlName = "duracion">
          </td>
          <td>
            <input type="text"
            formControlName = "idioma">
          </td>
          <td>
            <input type="text"
            formControlName = "lanzamiento">
          </td>
        </tr>
        <tr>
          <th colspan="4">Descripcion del juego</th>
        </tr>
        <tr>
          <td colspan="4">
            <input type="text"
            formControlName = "descripcion"
            style="width: 100%; height: 100px;">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group" role="group">
      <button class="remove-item-button" type="submit" >Guardar</button>
      <button class="remove-item-button" (click)="limpiarForm()">Limpiar</button>
    </div>
  </form>

  </div>
